<header id="applicationHeader">
  {{partial 'partials/header'}}
</header>

<section id="applicationContent">
  <div class="container">
    {{outlet}}
  </div>
</section>

<footer id="applicationFooter">
  {{partial 'partials/footer'}}
</footer>