<div class="row">
  <div class="span12">
    {{#if model.isLoaded}}
      {{#each coaster in model}}
        <div class="coaster">
          <div class="coaster-header">
            <h1>{{#linkTo coasters.show coaster}}{{coaster.name}}{{/linkTo}}</h1>
          </div>
          <div class="coaster-body">
            {{#if coaster.primaryImage}}
              <img {{bindAttr src="coaster.primaryImage" alt="coaster.name"}}>
            {{/if}}
          </div>
          <div class="coaster-footer">
            {{#each tag in coaster.tags}}
              <li class="badge">{{tag}}</li>
            {{/each}}
          </div>
        </div>
      {{/each}}
    {{else}}
      <p class="loading">Loading...</p>
    {{/if}}
  </div>
</div>
